<div class="content-wrapper" ng-controller="demandasController">
    <section class="content-header"><h1>Painel de Controle</h1></section>
    <section class="content">
        <div class="row">
            <div class="col-lg-2 col-xs-6" ng-repeat="botoes in botoesTopo">
                <div class="small-box bg-{{botoes.cor}}">
                    <span class="small-box-footer"><strong>{{botoes.nome}}</strong></span>

                    <div class="inner"><h3>{{botoes.pedidos}}</h3>

                        <p>Pedidos</p></div>
                    <div class="icon"><i class="ion ion-pie-graph"></i></div>
                    <a href="" data-toggle="modal" data-target="#myModal" class="small-box-footer">Adicionar Pedido
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cadastro de Pedidos</h4>
            </div>
            <div class="modal-body">
                <p>Aqui serao colocados os formularios de cadastro de pedidos</p>

                <input class="form-control" type="text" ng-model="contato.nome">
                <input class="form-control" type="text" ng-model="contato.telefone">
                <button ng-click="adicionarContato(contato)" ng-disabled="!contato.nome" class="btn btn-success">Adicionar</button>
                <button ng-click="apagarContatos(contatos)" ng-disabled = "!isSelecionados(contatos)" class="btn btn-danger">apagar contatos</button>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

